allennlp==1.3.0

# Used to process tables in WikiTableQuestions
unidecode

# Used in KnowledgeGraphField
editdistance

# Used for the type system for some languages
nltk

# Used for some tests
flaky

# used by temli
networkx
